body {
  font-family: Roboto, sans-serif;
}

header {
  display: flex;
  padding: 20px;
}
header img {
  width: 50%;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
header i {
  align-self: center;
  font-size: 25px;
}

footer {
  background-color: #3b3b3b;
  color: white;
  padding: 30px;
}
footer img {
  fill: white;
  width: 100px;
}
footer i {
  margin-right: 10px;
  width: 20px;
}
footer a {
  color: white;
}

.greyblock {
  background-color: #f7f7f7;
  text-align: center;
}

button {
  padding: 15px 20px;
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: bold;
  background: #9356DC;
  background: linear-gradient(352deg, rgb(147, 86, 220) 10%, rgb(255, 121, 218) 100%);
  box-shadow: 5px 2px 10px #d4d4d4;
  font-size: 16px;
  font-weight: 500;
}
button:hover {
  filter: brightness(1.1);
  cursor: pointer;
  box-shadow: 5px 2px 10px #6e6e6e;
}

.step, .step--active {
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 10px 10px;
  margin: 20px 0;
  width: 80%;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 5px 2px 10px #d4d4d4;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.step .flex, .step--active .flex {
  display: flex;
  align-items: center;
  position: relative;
  right: 40px;
}
.step i, .step--active i {
  color: #6e6e6e;
  font-size: 25px;
  margin: 0px 30px;
  width: 20px;
}
.step--active {
  background-color: #f2eafb;
}
.step--active i {
  color: #9356DC;
}
.step--number {
  background-color: #9356DC;
  color: white;
  padding: 5px 10px;
  border-radius: 100px;
  position: relative;
  right: 30px;
}

.restaurant-box {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 2px 10px #d4d4d4;
  height: 275px;
  border-radius: 20px;
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.restaurant-box--img-container {
  height: 200px;
  position: relative;
}
.restaurant-box--img-container img {
  display: block;
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: auto;
}
.restaurant-box--flex-ctn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  font-size: 30px;
}
.restaurant-box--flex-ctn div {
  flex-direction: column;
  text-align: left;
}
.restaurant-box--flex-ctn div h4 {
  padding: 0px;
  margin: 5px 0px 5px 0px;
  font-size: 18px;
  font-weight: bold;
}
.restaurant-box--flex-ctn div p {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}
.restaurant-box--flex-ctn i {
  align-self: center;
  margin-right: 10px;
}

.new-badge {
  background-color: #99E2D0;
  color: #2c9c81;
  font-weight: bold;
  width: auto;
  padding: 7px 12px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 2px;
  box-shadow: 5px 2px 5px #545454;
}

.menu-container {
  width: 100vw;
  height: 100%;
  background: #f7f7f7;
}
.menu-container--img-container {
  height: 250px;
  position: relative;
}
.menu-container--img-container img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: auto;
}
.menu-container--insert {
  background-color: #f7f7f7;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: relative;
  bottom: 55px;
  padding: 10px 20px 0px 20px;
  height: 100%;
}
.menu-container--insert--header {
  display: flex;
  justify-content: space-between;
}
.menu-container--insert--header h3 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}
.menu-container--insert--header i {
  align-self: center;
  margin-right: 20px;
}
.menu-container--insert button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 170px;
}

.menu-section {
  margin-bottom: 40px;
}
.menu-section h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 17px;
  padding: 0px;
  margin: 0px 0px 5px 0px;
}
.menu-section--underline {
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
  margin-bottom: 15px;
}

.menu-card {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 5px 2px 10px #d4d4d4;
}
.menu-card--title {
  margin: 0px;
  font-size: 18px;
  margin-bottom: 5px;
}
.menu-card--flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-card--flex--subtitle {
  margin: 0px;
  font-weight: 350;
  font-size: 15px;
}
.menu-card--flex--price {
  margin: 0px;
  font-weight: bold;
}
.menu-card:hover {
  cursor: pointer;
}

.restaurant-box--flex-ctn {
  position: relative;
}
.restaurant-box--flex-ctn .fa-regular {
  position: absolute;
  right: 40px;
}
.restaurant-box--flex-ctn .fa-solid {
  color: #9356DC;
  position: absolute;
  right: 40px;
  opacity: 0;
  transition: 0.3s;
}
.restaurant-box--flex-ctn .fa-solid:hover {
  opacity: 1;
}

.menu-container--insert--header .fa-regular {
  position: absolute;
  right: 20px;
}
.menu-container--insert--header .fa-solid {
  color: #9356DC;
  position: absolute;
  right: 20px;
  opacity: 0;
  transition: 0.3s;
}
.menu-container--insert--header .fa-solid:hover {
  opacity: 1;
}

.fa-regular:hover {
  cursor: pointer;
}

.fa-solid:hover {
  cursor: pointer;
}

.entrees,
.main-course,
.desserts {
  -webkit-animation: menu-animation 1500ms both;
          animation: menu-animation 1500ms both;
}

.main-course {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.desserts {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

@-webkit-keyframes menu-animation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu-card:hover .green-square {
  -webkit-animation: green-square-animation 1500ms both;
          animation: green-square-animation 1500ms both;
}
.menu-card:hover .green-square .fa-circle-check {
  -webkit-animation: circle-check-animation 1500ms;
          animation: circle-check-animation 1500ms;
}
.menu-card--content {
  flex-grow: 1;
  margin: 10px 15px;
  min-width: 20px;
}
.menu-card--content h4,
.menu-card--content .menu-card--flex--subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-card .green-square {
  background-color: #99E2D0;
  min-height: 100%;
  width: 0;
  border-radius: 0px 20px 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-card .green-square i {
  color: white;
}

@-webkit-keyframes green-square-animation {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}

@keyframes green-square-animation {
  0% {
    width: 0;
  }
  100% {
    width: 80px;
  }
}
@-webkit-keyframes circle-check-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes circle-check-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  width: 100vw;
  height: 100vh;
  color: #9356DC;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  z-index: 1;
  -webkit-animation: loader-animation 1000ms both;
          animation: loader-animation 1000ms both;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

@-webkit-keyframes loader-animation {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    z-index: -1;
  }
}

@keyframes loader-animation {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    z-index: -1;
  }
}
body {
  margin: 0px;
}

.loc-input {
  background-color: #ededed;
  color: #3b3b3b;
  width: 100%;
  min-height: 40px;
  border: none;
  box-shadow: inset 0px 2px 5px #c7c7c7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loc-input p {
  margin-left: 15px;
  font-weight: bolder;
}

.greyblock h3 {
  font-size: 25px;
  font-weight: bold;
}
.greyblock p {
  margin-bottom: 30px;
  font-size: 20px;
  color: #6e6e6e;
}
.greyblock h4 {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  padding-top: 40px;
  padding-left: 20px;
  margin: 0px;
}

.welcome {
  padding: 40px;
  text-align: center;
}

.steps {
  margin: 50px 0px;
}
.steps h3 {
  font-size: 28px;
  font-weight: bold;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 769px) {
  header img {
    max-width: 20%;
  }
  .steps {
    max-width: 50%;
    margin: auto;
  }
  .restaurant-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .restaurant-boxes .restaurant-box {
    max-width: 40%;
  }
  .menu-container--inside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .menu-container--inside .menu-section {
    margin-right: 20px;
    width: 30%;
  }
}/*# sourceMappingURL=main.css.map */