header {
    display: flex;
    padding: 20px;
    img {
        width: 50%;
        align-self: center;
        @include center-block;
    }
    i {
        align-self: center;
        font-size: 25px;
    }
}