button {
    padding: 15px;
    border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
    background: $cl-primary;
    background: linear-gradient(352deg, rgba(147,86,220,1) 10%, rgba(255,121,218,1) 100%);
    @include shadow-grey;
}