.restaurant-box--flex-ctn {
  position: relative;
  .fa-regular {
    position: absolute;
    right: 40px;
  }
  .fa-solid {
    color: $cl-primary;
    position: absolute;
    right: 40px;
    opacity: 0;
    transition: 0.3s;
  }
  .fa-solid:hover {
    opacity: 1;
  }
}

.menu-container--insert--header {
  .fa-regular {
    position: absolute;
    right: 20px;
  }
  .fa-solid {
    color: $cl-primary;
    position: absolute;
    right: 20px;
    opacity: 0;
    transition: 0.3s;
  }
  .fa-solid:hover {
    opacity: 1;
  }
}

.fa-regular:hover {
  cursor: pointer;
}
.fa-solid:hover {
  cursor: pointer;
}
