.restaurant-box--flex-ctn {
    .fa-regular {
        position: absolute;
        right: 40px;

    }
    .fa-solid {
        color: $cl-primary;
        position: absolute;
        right: 40px;
        opacity: 0;
        transition: 0.3s;
    }
    .fa-solid:active{ 
        opacity: 1;
      }
}