.entrees,
.main-course,
.desserts {
  animation: menu-animation 1500ms both;
}

.main-course {
  animation-delay: 1s;
}

.desserts {
  animation-delay: 2s;
}

@keyframes menu-animation {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
