body {
    margin: 0px;
}

.loc-input {
    background-color: $cl-grey;
    color: darken($cl-grey, 70);
    width: 100%;
    min-height: 40px;
    border: none;
    box-shadow: inset 0px 2px 5px darken($cl-grey, 15);
    @include center-flex;

    p {
        margin-left: 15px;
        font-weight: bolder;
    }
}

.greyblock {
    h3 {
        margin: 0px;
        font-size: 26px;
        font-weight: bolder;
    }

    p {
        margin-bottom: 30px;
        font-size: 20px;
        color: darken($cl-grey, 50);
        font-weight: light;
    }
}

.welcome {
    padding: 40px;
}

.steps {
    margin: 50px 0px;

    h3 {
        font-size: 28px;
        font-weight: bold;
        margin-left: 20px;
    }
}